- PROJECT 1: TO_DO lIST

    - REQUIREMENTS
        - CLI (Command Line Interface) where users can interact with application while its running

        - Application should read in data from a file and be displayed in some way

        - Application should also write data to file

        - User input must be validated (program shouldnt end with exceptions based on user input)

        - Program must follow OOP design (classes and objects)

        - Must be uploaded to a github repository



- Step by Step plan (work in progress)
    1. Need to add in a section that lets user know what to do in order to remove or add a new todo
    2. Implement each portion refered back in #
    3. Does it have apply to a csv file?
    4. Probably want to refer to the "animal" project we did together
    

    